<?xml version="1.0" encoding="utf-8" ?>
<DataFile Name="DriverData">
	<ElementaryFile Name="ICC" Identifier="0x0002">
		<HexValue Name="ClockStop" Length="1"/>
		<ExtendedSerialNumber Name="CardExtendedSerialNumber"/>
		<HexValue Name="CardApprovalNumber" Length="8"/>
		<HexValue Name="CardPersonaliserId" Length="1"/>
		<HexValue Name="EmbedderIcAssemblerId" Length="5"/>
		<HexValue Name="IcIdentifier" Length="2"/>
	</ElementaryFile>
	
	<ElementaryFile Name="IC" Identifier="0x0005">
		<HexValue Name="IcSerialNumber" Length="4"/>
		<HexValue Name="IcManufacturingReferences" Length="4"/>
	</ElementaryFile>
	
	<ElementaryFile Name="ApplicationIdentification" Identifier="0x0501">
		<HexValue Name="Type" Length="1"/>
		<HexValue Name="Version" Length="2"/>
		<UInt8 Name="NoOfEventsPerType" GlobalValue="true"/>
		<UInt8 Name="NoOfFaultsPerType" GlobalValue="true"/>
		<UInt16 Name="ActivityStructureLength"/>
		<UInt16 Name="NoOfCardVehicleRecords" GlobalValue="true"/>
		<UInt8 Name="NoOfCardPlaceRecords" GlobalValue="true"/>
	</ElementaryFile>
	
	<ElementaryFile Name="Identification" Identifier="0x0520">
		<Object Name="CardIdentification">
			<UInt8 Name="CardIssuingMemberState"/>
			<Object Name="CardNumber">
				<SimpleString Name="DriverIdentification" Length="14"/>
				<UInt8 Name="CardReplacementIndex"/>
				<UInt8 Name="CardRenewalIndex"/>
			</Object>
			<Name Name="CardIssuingAuthorityName"/>
			<TimeReal Name="CardIssueDate"/>
			<TimeReal Name="CardValidityBegin"/>
			<TimeReal Name="CardExpiryDate"/>
		</Object>
		<Object Name="DriverCardHolderIdentification">
			<Name Name="CardHolderSurname"/>
			<Name Name="CardHolderFirstNames"/>
			<TimeReal Name="CardHolderBirthDate"/>
			<HexValue Name="CardHolderPreferredLanguage" Length="2"/>
		</Object>
	</ElementaryFile>
	
	<ElementaryFile Name="CardDownload" Identifier="0x050E"/>
	<ElementaryFile Name="DrivingLicenceInfo" Identifier="0x0521"/>

  <ElementaryFile Name="EventsData" Identifier="0x0502">
    <Repeat Name="CardEventRecords" Count="6">
      <Repeat Name ="CardEventRecordCollection" CountRef="#NoOfEventsPerType">
        <Object Name="CardEventRecord">
          <HexValue Name="eventType" Length="1" />
          <TimeReal Name="eventBeginTime"/>
          <TimeReal Name="eventEndTime"/>
          <Object Name="VehicleRegistration">
            <UInt8 Name="VehicleRegistrationNation"/>
            <InternationalString Name="VehicleRegistrationNumber" Length="13"/>
          </Object>
        </Object>
      </Repeat>
    </Repeat>
  </ElementaryFile>

  <ElementaryFile Name="FaultsData" Identifier="0x0503"/>
	<ElementaryFile Name="DriverActivityData" Identifier="0x0504">
		<Cycle Name="DriverCardActivity">
			<DriverCardDailyActivity Name="ActivityDailyData"/>
		</Cycle>
	</ElementaryFile>
	<ElementaryFile Name="VehiclesUsed" Identifier="0x0505">
		<HexValue Name="VehiclesUsedNewestRecord" Length="2"/>
		<Repeat Name="CardVehiclesUsed" CountRef="#NoOfCardVehicleRecords">
			<Object Name="CardVehicleRecord">
				<UInt24 Name="VehicleOdometerBegin"/>
				<UInt24 Name="VehicleOdometerEnd"/>
				<TimeReal Name="VehicleFirstUse"/>
				<TimeReal Name="VehicleLastUse"/>
				<Object Name="VehicleRegistration">
					<UInt8 Name="VehicleRegistrationNation"/>
					<InternationalString Name="VehicleRegistrationNumber" Length="13"/>
				</Object>
				<HexValue Name="VuDataBlockCounter" Length="2"/>
			</Object>
		</Repeat>
	</ElementaryFile>
	<ElementaryFile Name="Places" Identifier="0x0506">
		<HexValue Name="PlacesNewestRecord" Length="1"/>
		<Repeat Name="CardPlaceDailyWorkPeriod" CountRef="#NoOfCardPlaceRecords">
			<Object Name="PlaceRecord">
				<TimeReal Name="EntryTime"/>
        <UInt8 Name="EntryTypeDailyWorkPeriod"/>
				<Country Name="DailyWorkPeriodCountry"/>
				<HexValue Name="DailyWorkPeriodRegion" Length="1"/>
				<UInt24 Name="VehicleOdometerValue"/>
			</Object>
		</Repeat>
	</ElementaryFile>
	<ElementaryFile Name="CurrentUsage" Identifier="0x0507"/>
	<ElementaryFile Name="ControlActivityData" Identifier="0x0508"/>
	<ElementaryFile Name="SpecificConditions" Identifier="0x0522"/>

	<ElementaryFile Name="CardCertificate" Identifier="0xC100">
		<HexValue Name="CardCertificateData" Length="194"/>
	</ElementaryFile>
	
	<ElementaryFile Name="CACertificate" Identifier="0xC108">
		<HexValue Name="CACertificateData" Length="194"/>
	</ElementaryFile>

</DataFile>
 