<?xml version="1.0" encoding="utf-8" ?>
<DataFile Name="DriverData">

	<ElementaryFile Name="CardIccIdentification" Identifier="0x0002" Unsigned="true">
		<UInt8 Name="ClockStop" Length="1"/>
		<ExtendedSerialNumber Name="CardExtendedSerialNumber"/>
		<SimpleString Name="CardApprovalNumber" Length="8"/>
		<UInt8 Name="CardPersonaliserId" Length="1"/>
		<Object Name="EmbedderIcAssemblerId">
			<SimpleString Name="CountryCode" Length="2" />
			<BCDString Name="ModuleEmbedder" Size="2" />
			<UInt8 Name="ManufacturerInformation" Length="1" />
		</Object>
		<UInt16 Name="IcIdentifier" Length="2"/>
	</ElementaryFile>

	<ElementaryFile Name="CardChipIdentification" Identifier="0x0005" Unsigned="true">
		<HexValue Name="IcSerialNumber" Length="4"/>
		<HexValue Name="IcManufacturingReferences" Length="4"/>
	</ElementaryFile>

	<ElementaryFile Name="DriverCardApplicationIdentification" Identifier="0x0501">
		<UInt8 Name="Type" Length="1"/>
		<UInt16 Name="Version"/>
		<UInt8 Name="NoOfEventsPerType" GlobalValue="true"/>
		<UInt8 Name="NoOfFaultsPerType" GlobalValue="true"/>
		<UInt16 Name="ActivityStructureLength"/>
		<UInt16 Name="NoOfCardVehicleRecords" GlobalValue="true"/>
		<UInt8 Name="NoOfCardPlaceRecords" GlobalValue="true"/>
	</ElementaryFile>

	<ElementaryFile Name="CardCertificate" Identifier="0xC100" Unsigned="true">
		<HexValue Name="Signature" Length="128"/>
		<HexValue Name="PublicKeyRemainder" Length="58"/>
		<Object Name="CertificationAuthorityReference">
			<Country Name="Nation"/>
			<SimpleString Name="NationCode" Length="3"/>
			<UInt8 Name="SerialNumber"/>
			<UInt16 Name="AdditionalInfo"/>
			<UInt8 Name="CaIdentifier"/>
		</Object>
	</ElementaryFile>

	<ElementaryFile Name="CACertificate" Identifier="0xC108" Unsigned="true">
		<HexValue Name="Signature" Length="128"/>
		<HexValue Name="PublicKeyRemainder" Length="58"/>
		<Object Name="CertificationAuthorityReference">
			<Country Name="Nation"/>
			<SimpleString Name="NationCode" Length="3"/>
			<UInt8 Name="SerialNumber"/>
			<UInt16 Name="AdditionalInfo"/>
			<UInt8 Name="CaIdentifier"/>
		</Object>
	</ElementaryFile>

	<ElementaryFile Name="Identification" Identifier="0x0520">
		<Object Name="CardIdentification">
			<UInt8 Name="CardIssuingMemberState"/>
			<CardNumber Name="CardNumber" />
			<Name Name="CardIssuingAuthorityName"/>
			<TimeReal Name="CardIssueDate"/>
			<TimeReal Name="CardValidityBegin"/>
			<TimeReal Name="CardExpiryDate"/>
		</Object>
		<Object Name="DriverCardHolderIdentification">
			<Name Name="CardHolderSurname"/>
			<Name Name="CardHolderFirstNames"/>
			<Datef Name="CardHolderBirthDate"/>
			<SimpleString Name="CardHolderPreferredLanguage" Length="2"/>
		</Object>
	</ElementaryFile>

	<ElementaryFile Name="CardDrivingLicenceInformation" Identifier="0x0521">
		<Name Name="DrivingLicenceIssuingAuthority"/>
		<UInt8 Name="DrivingLicenceIssuingNation"/>
		<SimpleString Name="DrivingLicenceNumber" Length="16"/>
	</ElementaryFile>

	<ElementaryFile Name="CardDownload" Identifier="0x050E">
		<TimeReal Name="LastCardDownload"/>
	</ElementaryFile>

	<ElementaryFile Name="EventsData" Identifier="0x0502">
		<Repeat Name="CardEventRecords" Count="6">
			<Repeat Name ="CardEventRecordCollection" CountRef="#NoOfEventsPerType">
				<Object Name="CardEventRecord">
					<UInt8 Name="EventType" Length="1" />
					<TimeReal Name="EventBeginTime"/>
					<TimeReal Name="EventEndTime"/>
					<Object Name="VehicleRegistration">
						<UInt8 Name="VehicleRegistrationNation"/>
						<InternationalString Name="VehicleRegistrationNumber" Length="13"/>
					</Object>
				</Object>
			</Repeat>
		</Repeat>
	</ElementaryFile>

	<ElementaryFile Name="FaultsData" Identifier="0x0503">
		<Repeat Name="CardFaultRecords" Count="2">
			<Repeat Name ="CardFaultRecordCollection" CountRef="#NoOfFaultsPerType">
				<Object Name="CardFaultRecord">
					<UInt8 Name="FaultType" Length="1" />
					<TimeReal Name="FaultBeginTime"/>
					<TimeReal Name="FaultEndTime"/>
					<Object Name="VehicleRegistration">
						<UInt8 Name="VehicleRegistrationNation"/>
						<InternationalString Name="VehicleRegistrationNumber" Length="13"/>
					</Object>
				</Object>
			</Repeat>
		</Repeat>
	</ElementaryFile>

	<ElementaryFile Name="DriverActivityData" Identifier="0x0504">
		<Cycle Name="CardDriverActivity">
			<DriverCardDailyActivity Name="CardActivityDailyRecord"/>
		</Cycle>
	</ElementaryFile>

	<ElementaryFile Name="CardVehiclesUsed" Identifier="0x0505">
		<UInt16 Name="VehiclePointerNewestRecord"/>
		<Repeat Name="CardVehicleRecords" CountRef="#NoOfCardVehicleRecords">
			<Object Name="CardVehicleRecord">
				<UInt24 Name="VehicleOdometerBegin"/>
				<UInt24 Name="VehicleOdometerEnd"/>
				<TimeReal Name="VehicleFirstUse"/>
				<TimeReal Name="VehicleLastUse"/>
				<Object Name="VehicleRegistration">
					<UInt8 Name="VehicleRegistrationNation"/>
					<InternationalString Name="VehicleRegistrationNumber" Length="13"/>
				</Object>
				<BCDString Name="VuDataBlockCounter" Size="2"/>
			</Object>
		</Repeat>
	</ElementaryFile>

	<ElementaryFile Name="CardPlaceDailyWorkPeriod" Identifier="0x0506">
		<UInt8 Name="PlacePointerNewestRecord"/>
		<Repeat Name="PlaceRecords" CountRef="#NoOfCardPlaceRecords">
			<Object Name="PlaceRecord">
				<TimeReal Name="EntryTime"/>
				<UInt8 Name="EntryType"/>
				<Country Name="DailyWorkPeriodCountry"/>
				<UInt8 Name="DailyWorkPeriodRegion" />
				<UInt24 Name="VehicleOdometerValue"/>
			</Object>
		</Repeat>
	</ElementaryFile>

	<ElementaryFile Name="CardCurrentUse" Identifier="0x0507">
		<TimeReal Name="SessionOpenTime"/>
		<Object Name="SessionOpenVehicle">
			<UInt8 Name="vehicleRegistrationNation"/>
			<InternationalString Name="vehicleRegistrationNumber" Length="13"/>
		</Object>
	</ElementaryFile>

	<ElementaryFile Name="CardControlActivityDataRecord" Identifier="0x0508">
		<UInt8 Name="ControlType" Length="1" />
		<TimeReal Name="ControlTime" />
		<FullCardNumber Name="ControlCardNumber"/>
		<Object Name="ControlVehicleRegistration">
			<UInt8 Name="VehicleRegistrationNation"/>
			<InternationalString Name="VehicleRegistrationNumber" Length="13"/>
		</Object>
		<TimeReal Name="ControlDownloadPeriodBegin" />
		<TimeReal Name="ControlDownloadPeriodEnd" />
	</ElementaryFile>

	<ElementaryFile Name="SpecificConditions" Identifier="0x0522">
		<Repeat Name="SpecificConditionRecords" Count="56">
			<Object Name="SpecificConditionRecord">
				<TimeReal Name="EntryTime" />
				<UInt8 Name="SpecificConditionType"/>
			</Object>
		</Repeat>
	</ElementaryFile>

</DataFile>
 
