<?xml version="1.0" encoding="utf-8" ?>
<DataFile Name="Tachodata">
	<IdentifiedObject Name="TransferDataOverview" Identifier="0x7601">
		<Object Name="MemberStateCertificate">
			<HexValue Name="Signature" Length="128"/>
			<HexValue Name="PublicKeyRemainder" Length="58"/>
			<Object Name="CertificationAuthorityReference">
				<Country Name="Nation"/>
				<SimpleString Name="NationCode" Length="3"/>
				<UInt8 Name="SerialNumber"/>
				<UInt16 Name="AdditionalInfo"/>
				<UInt8 Name="CaIdentifier"/>
			</Object>
		</Object>
		<Object Name="VuCertificate">
			<HexValue Name="Signature" Length="128"/>
			<HexValue Name="PublicKeyRemainder" Length="58"/>
			<Object Name="CertificationAuthorityReference">
				<Country Name="Nation"/>
				<SimpleString Name="NationCode" Length="3"/>
				<UInt8 Name="SerialNumber"/>
				<UInt16 Name="AdditionalInfo"/>
				<UInt8 Name="CaIdentifier"/>
			</Object>
		</Object>
		<SimpleString Name="VehicleIdentificationNumber" Length="17"/>
		<Object Name="VehicleRegistrationIdentification">
			<UInt8 Name="VehicleRegistrationNation"/>
			<InternationalString Name="VehicleRegistrationNumber" Length="13"/>
		</Object>
		<TimeReal Name="CurrentDateTime"/>
		<Object Name="VuDownloadablePeriod">
			<TimeReal Name="MinDownloadableTime"/>
			<TimeReal Name="MaxDownloadableTime"/>
		</Object>
		<UInt8 Name="CardSlotStatus"/>
		<Object Name="VuDownloadActivityData">
			<TimeReal Name="DownloadingTime"/>
			<FullCardNumber Name="FullCardNumber"/>
			<Name Name="CompanyOrWorkshopName"/>
		</Object>
		<Collection Name="VuCompanyLocksData">
			<Object Name="VuCompanyLocksRecord">
				<TimeReal Name="LockInTime"/>
				<TimeReal Name="LockOutTime"/>
				<Name Name="CompanyName"/>
				<Name Name="CompanyAddress"/>
				<FullCardNumber Name="CompanyCardNumber"/>
			</Object>
		</Collection>
		<Collection Name="VuControlActivityData">
			<Object Name="VuControlActivityRecord">
				<UInt8 Name="ControlType"/>
				<TimeReal Name="ControlTime"/>
				<FullCardNumber Name="ControlCardNumber"/>
				<TimeReal Name="DownloadPeriodBeginTime"/>
				<TimeReal Name="DownloadPeriodEndTime"/>
			</Object>
		</Collection>
		<Signature Name="Signature" Length="128"/>
	</IdentifiedObject>

	<!-- see page 86 -->

	<IdentifiedObject Name="TransferDataActivities" Identifier="0x7602">
		<TimeReal Name="ActivityDate"/>
		<UInt24 Name="OdometerValueMidnight"/>
		
		<Collection Name="VuCardIWData" SizeAlloc="WORD">
			<Object Name="VuCardIWRecord">
				<Object Name="CardHolderName">
					<Name Name="Lastname"/>
					<Name Name="Firstname"/>
				</Object>
				<FullCardNumber Name="FullCardNumber"/>
				<TimeReal Name="CardExpiryDate"/>
				<TimeReal Name="CardInsertionTime"/>
				<UInt24 Name="VehicleOdometerValueAtInsertion"/>
				<UInt8 Name="CardSlotNumber"/>
				<TimeReal Name="CardWithdrawalTime"/>
				<UInt24 Name="VehicleOdometerValueAtWithdrawal"/>
				<Object Name="PreviousVehicleInfo">
					<Object Name="VehicleRegistrationIdentification">
						<UInt8 Name="VehicleRegistrationNation"/>
						<InternationalString Name="VehicleRegistrationNumber" Length="13"/>
					</Object>
					<TimeReal Name="CardWithdrawalTime"/>
				</Object>
				<Flag Name="ManualInputFlag"/>
			</Object>
		</Collection>

		<Collection Name="VuActivityDailyData" SizeAlloc="WORD">
			<ActivityChange Name="ActivityChangeInfo"/>
		</Collection>

		<Collection Name="VuPlaceDailyWorkPeriodData">
			<Object Name="VuPlaceDailyWorkPeriodRecord">
				<FullCardNumber Name="FullCardNumber"/>
				<Object Name="PlaceRecord">
					<TimeReal Name="EntryTime"/>
					<UInt8 Name="EntryType"/>
					<Country Name="DailyWorkPeriodCountry"/>
					<UInt8 Name="DailyWorkPeriodRegion"/>
					<UInt24 Name="VehicleOdometerValue"/>
				</Object>
			</Object>
		</Collection>

		<Collection Name="VuSpecificConditionData" SizeAlloc="WORD">
			<Object Name="SpecificConditionRecord">
				<TimeReal Name="EntryTime"/>
				<UInt8 Name="SpecificConditionType"/>
			</Object>
		</Collection>

		<Signature Name="Signature" Length="128"/>
	</IdentifiedObject>
  
	<IdentifiedObject Name="TransferDataEventsAndFaults" Identifier="0x7603">
		<Collection Name="VuFaultData">
			<Object Name="VuFaultRecord">
				<UInt8 Name="FaultType"/>
				<UInt8 Name="FaultRecordPurpose"/>
				<TimeReal Name="FaultBeginTime"/>
				<TimeReal Name="FaultEndTime"/>
				<FullCardNumber Name="CardNumberDriverSlotBegin"/>
				<FullCardNumber Name="CardNumberCodriverSlotBegin"/>
				<FullCardNumber Name="CardNumberDriverSlotEnd"/>
				<FullCardNumber Name="CardNumberCodriverSlotEnd"/>
			</Object>
		</Collection>
		<Collection Name="VuEventData">
			<Object Name="VuEventRecord">
				<UInt8 Name="EventType"/>
				<UInt8 Name="EventRecordPurpose"/>
				<TimeReal Name="EventBeginTime"/>
				<TimeReal Name="EventEndTime"/>
				<FullCardNumber Name="CardNumberDriverSlotBegin"/>
				<FullCardNumber Name="CardNumberCodriverSlotBegin"/>
				<FullCardNumber Name="CardNumberDriverSlotEnd"/>
				<FullCardNumber Name="CardNumberCodriverSlotEnd"/>
				<UInt8 Name="SimilarEventsNumber"/>
			</Object>
		</Collection>
		<Object Name="OverspeedingControlData">
			<TimeReal Name="LastOverspeedControlTime"/>
			<TimeReal Name="FirstOverspeedSince"/>
			<UInt8 Name="NumberOfOverspeedSince"/>
		</Object>
		<Collection Name="VuOverspeedingEventData">
			<Object Name="VuOverspeedingEventRecord">
				<UInt8 Name="EventType"/>
				<UInt8 Name="EventRecordPurpose"/>
				<TimeReal Name="EventBeginTime"/>
				<TimeReal Name="EventEndTime"/>
				<UInt8 Name="MaxSpeedValue"/>
				<UInt8 Name="AverageSpeedValue"/>
				<FullCardNumber Name="CardNumberDriverSlotBegin"/>
				<UInt8 Name="SimilarEventsNumber"/>
			</Object>
		</Collection>
		<Collection Name="VuTimeAdjustmentData">
			<TimeReal Name="OldTimeValue"/>
			<TimeReal Name="NewTimeValue"/>
			<Name Name="WorkshopName"/>
			<Name Name="WorkshopAddress"/>
			<FullCardNumber Name="WorkshopCardNumber"/>
		</Collection>
		<Signature Name="Signature" Length="128"/>
	</IdentifiedObject>

	<IdentifiedObject Name="TransferDetailedSpeed" Identifier="0x7604">
		<Collection Name="SpeedInfo" SizeAlloc="WORD">
			<Object Name="SpeedInfoBlock">
				<TimeReal Name="SpeedBlockBeginDate"/>
				<Repeat Name="SpeedData" Count="60">
					<UInt8 Name="DataPoint"/>
				</Repeat>
			</Object>
		</Collection>
		<Signature Name="Signature" Length="128"/>
	</IdentifiedObject>

	<IdentifiedObject Name="TransferDataTechnicalData" Identifier="0x7605">
		<Object Name="VuIdentification">
			<Name Name="ManufacturerName"/>
			<Name Name="ManufacturerAddress"/>
			<SimpleString Name="PartNumber" Length="16"/>
			<ExtendedSerialNumber Name="SerialNumber"/>
			<Object Name="VuSoftwareIdentification">
				<SimpleString Name="SoftwareVersion" Length="4"/>
				<TimeReal Name="SoftInstallationDate"/>
			</Object>
			<TimeReal Name="ManufacturingDate"/>
			<SimpleString Name="ApprovalNumber" Length="8"/>
		</Object>
		<Object Name="SensorPaired">
			<ExtendedSerialNumber Name="SensorSerialNumber"/>
			<SimpleString Name="SensorApprovalNumber" Length="8"/>
			<TimeReal Name="SensorPairingDataFirst"/>
		</Object>
		<Collection Name="CalibrationRecords">
			<Object Name="CalibrationRecord">
				<UInt8 Name="CalibrationPurpose"/>
				<Name Name="WorkshopName"/>
				<Name Name="WorkshopAddress"/>
				<FullCardNumber Name="WorkshopCardNumber"/>
				<TimeReal Name="WorkshopCardExpiryDate"/>
				<SimpleString Name="VehicleIdentificationNumber" Length="17"/>
				<Object Name="VehicleRegistrationIdentification">
					<UInt8 Name="VehicleRegistrationNation"/>
					<InternationalString Name="VehicleRegistrationNumber" Length="13"/>
				</Object>
				<UInt16 Name="VehicleCharacteristicConstant"/>
				<UInt16 Name="ConstantOfRecordingEquipment"/>
				<UInt16 Name="TyreCircumference"/>
				<SimpleString Name="TyreSize" Length="15"/>
				<UInt8 Name="AuthorisedSpeed"/>
				<UInt24 Name="OldOdometerValue"/>
				<UInt24 Name="NewOdometerValue"/>
				<TimeReal Name="OldTimeValue"/>
				<TimeReal Name="NewTimeValue"/>
				<TimeReal Name="NextCalibrationDate"/>
			</Object>
		</Collection>
		<Signature Name="Signature" Length="128"/>
	</IdentifiedObject>

</DataFile>
